body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show{ opacity: 1; transition:all 1.5s ease-in forwards;}
.hide{opacity: 0.3; transition:all 1.5s ease-in forwards;}

@keyframes hide-item{
  0% {
      opacity:1;
      color:yellow;
  }
  50%{
      opacity: 0.5 ;
      color:red;
  }
  100%{
      opacity:0.3;
      color: green;
  }
}

/* forwards属性，它是用来控制停止到最后一帧的。  */
.hide{ animation:hide-item 2s ease-in forwards; } 


.boss-text-enter{
  opacity: 0;
}
.boss-text-enter-active{
  opacity: 1;
  transition: opacity 2000ms;

}
.boss-text-enter-done{
  opacity: 1;
}
.boss-text-exit{
  opacity: 1;
}
.boss-text-exit-active{
  opacity: 0;
  transition: opacity 2000ms;

}
.boss-text-exit-done{
  opacity: 0;
}